.container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background: #f7f7f7;
  padding: 2em 0;
}
.glyphName { font-size: 1em; color: #666; display: block }

.example {
  box-sizing: border-box;
  padding: 1em;
  margin: 0;
  background-color: #fff;
  background-image: linear-gradient(45deg,
  #eee 25%,
  transparent 25%,
  transparent 75%,
  #eee 75%,
  #eee),
    linear-gradient(45deg,
    #eee 25%,
    transparent 25%,
    transparent 75%,
    #eee 75%,
    #eee);
  background-position: 0 0, 0.5rem 0.5rem;
  background-size: 1rem 1rem;
  border: 1px solid #C7CDD1;
  border-radius: 3px;
  position: relative;
  overflow-x: auto;
}

.grid {
  display: flex;
  max-width: 80rem;
  flex-wrap: wrap;
  margin: 0 auto;
}

.cell {
  min-width: 15rem;
  flex-basis: 15rem;
  flex: 1;
  margin: 0.5rem;
}

@media (max-width: 30em) {
  .grid {
    display: block;
  }
  .cell {
    max-width: none;
  }
}

.glyphCodepoint { color: #999; font-family: monospace; margin: 0.5em 1em;}
.btnIcon {
  background:none!important;
  color:inherit;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
  margin: 0 1em;
}
.btnIcon:focus,
.btnIcon:hover {
  color: #008EE2;
}
.btnIcon:focus > img,
.btnIcon:hover > img
 {
  opacity: 0.5;
}
.btnIcon > svg,
.btnIcon > img {
  border: 1px dashed rgba(0,0,0,0.5);
}
