$icons-Line: (
  add: "\EA01",
  address-book: "\EA02",
  analytics: "\EA03",
  android: "\EA04",
  announcement: "\EA05",
  apple: "\EA06",
  arrow-down: "\EA07",
  arrow-left: "\EA08",
  arrow-open-down: "\EA09",
  arrow-open-left: "\EA0A",
  arrow-open-right: "\EA0B",
  arrow-open-up: "\EA0C",
  arrow-right: "\EA0D",
  arrow-up: "\EA0E",
  assignment: "\EA0F",
  audio: "\EA10",
  bookmark: "\EA11",
  box: "\EA12",
  calendar-add: "\EA13",
  calendar-day: "\EA14",
  calendar-days: "\EA15",
  calendar-month: "\EA16",
  calendar-reserved: "\EA17",
  check-dark: "\EA18",
  check-mark: "\EA19",
  check-plus: "\EA1A",
  check: "\EA1B",
  clock: "\EA1C",
  cloud-lock: "\EA1D",
  collapse: "\EA1E",
  collection-save: "\EA1F",
  collection: "\EA20",
  commons: "\EA21",
  complete: "\EA22",
  compose: "\EA23",
  copy-course: "\EA24",
  copy: "\EA25",
  courses: "\EA26",
  discussion-check: "\EA27",
  discussion-new: "\EA28",
  discussion-reply-2: "\EA29",
  discussion-reply-dark: "\EA2A",
  discussion-reply: "\EA2B",
  discussion-search: "\EA2C",
  discussion-x: "\EA2D",
  discussion: "\EA2E",
  document: "\EA2F",
  download: "\EA30",
  drag-handle: "\EA31",
  drop-down: "\EA32",
  edit: "\EA33",
  educators: "\EA34",
  email: "\EA35",
  empty: "\EA36",
  end: "\EA37",
  equation: "\EA38",
  equella: "\EA39",
  expand-items: "\EA3A",
  expand: "\EA3B",
  export-content: "\EA3C",
  export: "\EA3D",
  eye: "\EA3E",
  facebook-boxed: "\EA3F",
  facebook: "\EA40",
  files-copyright: "\EA41",
  files-creative-commons: "\EA42",
  files-fair-use: "\EA43",
  files-obtained-permission: "\EA44",
  files-public-domain: "\EA45",
  filmstrip: "\EA46",
  flag: "\EA47",
  folder-locked: "\EA48",
  folder: "\EA49",
  forward: "\EA4A",
  github: "\EA4B",
  gradebook-export: "\EA4C",
  gradebook-import: "\EA4D",
  gradebook: "\EA4E",
  group-dark-new: "\EA4F",
  group-new: "\EA50",
  group: "\EA51",
  hamburger: "\EA52",
  heart: "\EA53",
  highlighter: "\EA54",
  home: "\EA55",
  hour-glass: "\EA56",
  image: "\EA57",
  import-content: "\EA58",
  import: "\EA59",
  indent-2: "\EA5A",
  indent: "\EA5B",
  info: "\EA5C",
  instructure: "\EA5D",
  integrations: "\EA5E",
  invitation: "\EA5F",
  keyboard-shortcuts: "\EA60",
  like: "\EA61",
  link: "\EA62",
  linkedin: "\EA63",
  lock: "\EA64",
  lti: "\EA65",
  mark-as-read: "\EA66",
  marker: "\EA67",
  masquerade: "\EA68",
  mastery-path: "\EA69",
  materials-required-light: "\EA6A",
  materials-required: "\EA6B",
  mature-light: "\EA6C",
  mature: "\EA6D",
  media: "\EA6E",
  message: "\EA6F",
  mini-arrow-down: "\EA70",
  mini-arrow-left: "\EA71",
  mini-arrow-right: "\EA72",
  mini-arrow-up: "\EA73",
  minimize: "\EA74",
  module: "\EA75",
  more: "\EA76",
  move-down-bottom: "\EA77",
  move-down: "\EA78",
  move-up-top: "\EA79",
  move-up: "\EA7A",
  ms-excel: "\EA7B",
  ms-ppt: "\EA7C",
  ms-word: "\EA7D",
  muted: "\EA7E",
  next-unread: "\EA7F",
  not-graded: "\EA80",
  note-dark: "\EA81",
  note-light: "\EA82",
  off: "\EA83",
  outdent: "\EA84",
  outdent2: "\EA85",
  paint: "\EA86",
  paperclip: "\EA87",
  partial: "\EA88",
  pdf: "\EA89",
  peer-graded: "\EA8A",
  peer-review: "\EA8B",
  pin: "\EA8C",
  pinterest: "\EA8D",
  plus: "\EA8E",
  post-to-sis: "\EA8F",
  prerequisite: "\EA90",
  printer: "\EA91",
  publish: "\EA92",
  question: "\EA93",
  quiz-stats-avg: "\EA94",
  quiz-stats-deviation: "\EA95",
  quiz-stats-high: "\EA96",
  quiz-stats-low: "\EA97",
  quiz-stats-time: "\EA98",
  quiz: "\EA99",
  refresh: "\EA9A",
  remove-from-collection: "\EA9B",
  replied: "\EA9C",
  reply-2: "\EA9D",
  reply-all-2: "\EA9E",
  reply: "\EA9F",
  reset: "\EAA0",
  rss-add: "\EAA1",
  rss: "\EAA2",
  rubric-dark: "\EAA3",
  rubric: "\EAA4",
  search-address-book: "\EAA5",
  search: "\EAA6",
  settings-2: "\EAA7",
  skype: "\EAA8",
  speed-grader: "\EAA9",
  standards: "\EAAA",
  star-light: "\EAAB",
  star: "\EAAC",
  stats: "\EAAD",
  strikethrough: "\EAAE",
  student-view: "\EAAF",
  syllabus: "\EAB0",
  table: "\EAB1",
  tag: "\EAB2",
  target: "\EAB3",
  text-centered: "\EAB4",
  text-left: "\EAB5",
  text-right: "\EAB6",
  text: "\EAB7",
  textarea: "\EAB8",
  timer: "\EAB9",
  toggle-left: "\EABA",
  toggle-right: "\EABB",
  trash: "\EABC",
  trouble: "\EABD",
  twitter-boxed: "\EABE",
  twitter: "\EABF",
  unknown2: "\EAC0",
  unlock: "\EAC1",
  unmuted: "\EAC2",
  unpublish: "\EAC3",
  unpublished: "\EAC4",
  updown: "\EAC5",
  upload: "\EAC6",
  user-add: "\EAC7",
  user: "\EAC8",
  video: "\EAC9",
  warning: "\EACA",
  windows: "\EACB",
  wordpress: "\EACC",
  x: "\EACD",
  zipped: "\EACE",
  zoom-in: "\EACF",
  zoom-out: "\EAD0"
);