.nav {
  overflow: hidden;
  background-color: #2c3e50;
}

.nav small {
  color: #2980b9;
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav a:hover {
  color: #2980b9;
}

.nav .icon {
  display: none;
  padding: 14px 16px;
  font-size: 15px;
  color: #f2f2f2;
}

.nav a:not(:first-child) {float: right;}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav button.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
