.root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1;
  width: 100vh;
  height: 100vh;
  background: #f7f7f7;
}

.demoNav {
  background-color: #222;
  color: #fafafa;
  padding: 0.5em 1em;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.demo {
  width: 100vw;
  height: calc(100vh - 2em);
  margin-top: 2em;
  border: 0;
}


.demoLinkListContainer {
  display: inline-block;
  margin-right: 1em;
}

.demoLinkFormat {
  display: inline-block;
}

.demoLinkList {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0 1em;
}

.demoLinkContainer {
  display: inline-block;
  padding: 0.25em;
}

.demoLink {
  color: #fff;
}
