@font-face {
  font-family: "InstructureIcons-Solid";
  src: url('InstructureIcons-Solid.eot');
  src: url('InstructureIcons-Solid.eot?#iefix') format('eot'),
    url('InstructureIcons-Solid.woff') format('woff'),
    url('InstructureIcons-Solid.ttf') format('truetype'),
    url('InstructureIcons-Solid.svg#InstructureIcons-Solid') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  display: inline-block;
  font-family: "InstructureIcons-Solid";
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icon-add:before { content: "\EA01" }
.icon-address-book:before { content: "\EA02" }
.icon-analytics:before { content: "\EA03" }
.icon-android:before { content: "\EA04" }
.icon-announcement:before { content: "\EA05" }
.icon-apple:before { content: "\EA06" }
.icon-arrow-down:before { content: "\EA07" }
.icon-arrow-left:before { content: "\EA08" }
.icon-arrow-open-down:before { content: "\EA09" }
.icon-arrow-open-left:before { content: "\EA0A" }
.icon-arrow-open-right:before { content: "\EA0B" }
.icon-arrow-open-up:before { content: "\EA0C" }
.icon-arrow-right:before { content: "\EA0D" }
.icon-arrow-up:before { content: "\EA0E" }
.icon-assignment:before { content: "\EA0F" }
.icon-audio:before { content: "\EA10" }
.icon-bookmark:before { content: "\EA11" }
.icon-box:before { content: "\EA12" }
.icon-calendar-add:before { content: "\EA13" }
.icon-calendar-day:before { content: "\EA14" }
.icon-calendar-days:before { content: "\EA15" }
.icon-calendar-month:before { content: "\EA16" }
.icon-calendar-reserved:before { content: "\EA17" }
.icon-check-dark:before { content: "\EA18" }
.icon-check-mark:before { content: "\EA19" }
.icon-check-plus:before { content: "\EA1A" }
.icon-check:before { content: "\EA1B" }
.icon-clock:before { content: "\EA1C" }
.icon-cloud-lock:before { content: "\EA1D" }
.icon-collapse:before { content: "\EA1E" }
.icon-collection-save:before { content: "\EA1F" }
.icon-collection:before { content: "\EA20" }
.icon-commons:before { content: "\EA21" }
.icon-complete:before { content: "\EA22" }
.icon-compose:before { content: "\EA23" }
.icon-copy-course:before { content: "\EA24" }
.icon-copy:before { content: "\EA25" }
.icon-courses:before { content: "\EA26" }
.icon-discussion-check:before { content: "\EA27" }
.icon-discussion-new:before { content: "\EA28" }
.icon-discussion-reply-2:before { content: "\EA29" }
.icon-discussion-reply-dark:before { content: "\EA2A" }
.icon-discussion-reply:before { content: "\EA2B" }
.icon-discussion-search:before { content: "\EA2C" }
.icon-discussion-x:before { content: "\EA2D" }
.icon-discussion:before { content: "\EA2E" }
.icon-document:before { content: "\EA2F" }
.icon-download:before { content: "\EA30" }
.icon-drag-handle:before { content: "\EA31" }
.icon-drop-down:before { content: "\EA32" }
.icon-edit:before { content: "\EA33" }
.icon-educators:before { content: "\EA34" }
.icon-email:before { content: "\EA35" }
.icon-empty:before { content: "\EA36" }
.icon-end:before { content: "\EA37" }
.icon-equation:before { content: "\EA38" }
.icon-equella:before { content: "\EA39" }
.icon-expand-items:before { content: "\EA3A" }
.icon-expand:before { content: "\EA3B" }
.icon-export-content:before { content: "\EA3C" }
.icon-export:before { content: "\EA3D" }
.icon-eye:before { content: "\EA3E" }
.icon-facebook-boxed:before { content: "\EA3F" }
.icon-facebook:before { content: "\EA40" }
.icon-files-copyright:before { content: "\EA41" }
.icon-files-creative-commons:before { content: "\EA42" }
.icon-files-fair-use:before { content: "\EA43" }
.icon-files-obtained-permission:before { content: "\EA44" }
.icon-files-public-domain:before { content: "\EA45" }
.icon-filmstrip:before { content: "\EA46" }
.icon-flag:before { content: "\EA47" }
.icon-folder-locked:before { content: "\EA48" }
.icon-folder:before { content: "\EA49" }
.icon-forward:before { content: "\EA4A" }
.icon-github:before { content: "\EA4B" }
.icon-gradebook-export:before { content: "\EA4C" }
.icon-gradebook-import:before { content: "\EA4D" }
.icon-gradebook:before { content: "\EA4E" }
.icon-group-dark-new:before { content: "\EA4F" }
.icon-group-new:before { content: "\EA50" }
.icon-group:before { content: "\EA51" }
.icon-hamburger:before { content: "\EA52" }
.icon-heart:before { content: "\EA53" }
.icon-highlighter:before { content: "\EA54" }
.icon-home:before { content: "\EA55" }
.icon-hour-glass:before { content: "\EA56" }
.icon-image:before { content: "\EA57" }
.icon-import-content:before { content: "\EA58" }
.icon-import:before { content: "\EA59" }
.icon-indent-2:before { content: "\EA5A" }
.icon-indent:before { content: "\EA5B" }
.icon-info:before { content: "\EA5C" }
.icon-instructure:before { content: "\EA5D" }
.icon-integrations:before { content: "\EA5E" }
.icon-invitation:before { content: "\EA5F" }
.icon-keyboard-shortcuts:before { content: "\EA60" }
.icon-like:before { content: "\EA61" }
.icon-link:before { content: "\EA62" }
.icon-linkedin:before { content: "\EA63" }
.icon-lock:before { content: "\EA64" }
.icon-lti:before { content: "\EA65" }
.icon-mark-as-read:before { content: "\EA66" }
.icon-marker:before { content: "\EA67" }
.icon-masquerade:before { content: "\EA68" }
.icon-mastery-path:before { content: "\EA69" }
.icon-materials-required-light:before { content: "\EA6A" }
.icon-materials-required:before { content: "\EA6B" }
.icon-mature-light:before { content: "\EA6C" }
.icon-mature:before { content: "\EA6D" }
.icon-media:before { content: "\EA6E" }
.icon-message:before { content: "\EA6F" }
.icon-mini-arrow-down:before { content: "\EA70" }
.icon-mini-arrow-left:before { content: "\EA71" }
.icon-mini-arrow-right:before { content: "\EA72" }
.icon-mini-arrow-up:before { content: "\EA73" }
.icon-minimize:before { content: "\EA74" }
.icon-module:before { content: "\EA75" }
.icon-more:before { content: "\EA76" }
.icon-move-down-bottom:before { content: "\EA77" }
.icon-move-down:before { content: "\EA78" }
.icon-move-up-top:before { content: "\EA79" }
.icon-move-up:before { content: "\EA7A" }
.icon-ms-excel:before { content: "\EA7B" }
.icon-ms-ppt:before { content: "\EA7C" }
.icon-ms-word:before { content: "\EA7D" }
.icon-muted:before { content: "\EA7E" }
.icon-next-unread:before { content: "\EA7F" }
.icon-not-graded:before { content: "\EA80" }
.icon-note-dark:before { content: "\EA81" }
.icon-note-light:before { content: "\EA82" }
.icon-off:before { content: "\EA83" }
.icon-outdent:before { content: "\EA84" }
.icon-outdent2:before { content: "\EA85" }
.icon-paint:before { content: "\EA86" }
.icon-paperclip:before { content: "\EA87" }
.icon-partial:before { content: "\EA88" }
.icon-pdf:before { content: "\EA89" }
.icon-peer-graded:before { content: "\EA8A" }
.icon-peer-review:before { content: "\EA8B" }
.icon-pin:before { content: "\EA8C" }
.icon-pinterest:before { content: "\EA8D" }
.icon-plus:before { content: "\EA8E" }
.icon-post-to-sis:before { content: "\EA8F" }
.icon-prerequisite:before { content: "\EA90" }
.icon-printer:before { content: "\EA91" }
.icon-publish:before { content: "\EA92" }
.icon-question:before { content: "\EA93" }
.icon-quiz-stats-avg:before { content: "\EA94" }
.icon-quiz-stats-deviation:before { content: "\EA95" }
.icon-quiz-stats-high:before { content: "\EA96" }
.icon-quiz-stats-low:before { content: "\EA97" }
.icon-quiz-stats-time:before { content: "\EA98" }
.icon-quiz:before { content: "\EA99" }
.icon-refresh:before { content: "\EA9A" }
.icon-remove-from-collection:before { content: "\EA9B" }
.icon-replied:before { content: "\EA9C" }
.icon-reply-2:before { content: "\EA9D" }
.icon-reply-all-2:before { content: "\EA9E" }
.icon-reply:before { content: "\EA9F" }
.icon-reset:before { content: "\EAA0" }
.icon-rss-add:before { content: "\EAA1" }
.icon-rss:before { content: "\EAA2" }
.icon-rubric-dark:before { content: "\EAA3" }
.icon-rubric:before { content: "\EAA4" }
.icon-search-address-book:before { content: "\EAA5" }
.icon-search:before { content: "\EAA6" }
.icon-settings-2:before { content: "\EAA7" }
.icon-skype:before { content: "\EAA8" }
.icon-speed-grader:before { content: "\EAA9" }
.icon-standards:before { content: "\EAAA" }
.icon-star-light:before { content: "\EAAB" }
.icon-star:before { content: "\EAAC" }
.icon-stats:before { content: "\EAAD" }
.icon-strikethrough:before { content: "\EAAE" }
.icon-student-view:before { content: "\EAAF" }
.icon-syllabus:before { content: "\EAB0" }
.icon-table:before { content: "\EAB1" }
.icon-tag:before { content: "\EAB2" }
.icon-target:before { content: "\EAB3" }
.icon-text-centered:before { content: "\EAB4" }
.icon-text-left:before { content: "\EAB5" }
.icon-text-right:before { content: "\EAB6" }
.icon-text:before { content: "\EAB7" }
.icon-textarea:before { content: "\EAB8" }
.icon-timer:before { content: "\EAB9" }
.icon-toggle-left:before { content: "\EABA" }
.icon-toggle-right:before { content: "\EABB" }
.icon-trash:before { content: "\EABC" }
.icon-trouble:before { content: "\EABD" }
.icon-twitter-boxed:before { content: "\EABE" }
.icon-twitter:before { content: "\EABF" }
.icon-unknown2:before { content: "\EAC0" }
.icon-unlock:before { content: "\EAC1" }
.icon-unmuted:before { content: "\EAC2" }
.icon-unpublish:before { content: "\EAC3" }
.icon-unpublished:before { content: "\EAC4" }
.icon-updown:before { content: "\EAC5" }
.icon-upload:before { content: "\EAC6" }
.icon-user-add:before { content: "\EAC7" }
.icon-user:before { content: "\EAC8" }
.icon-video:before { content: "\EAC9" }
.icon-warning:before { content: "\EACA" }
.icon-windows:before { content: "\EACB" }
.icon-wordpress:before { content: "\EACC" }
.icon-x:before { content: "\EACD" }
.icon-zipped:before { content: "\EACE" }
.icon-zoom-in:before { content: "\EACF" }
.icon-zoom-out:before { content: "\EAD0" }
