import React, { Component } from 'react'
import SVGIcon from '../SVGIcon'

export default class <%= name %> extends Component {
  render () {
    return (
      <SVGIcon
        {...this.props}
        name="<%= name %>"
        viewBox="<%= viewBox %>"
        src={`<%= source %>`}
      />
    )
  }
}
