import React from 'react'
import SVGIcon from '../SVGIcon'

export default function <%= name %> (props) {
  return (
    <SVGIcon
      {...props}
      name="<%= name %>"
      viewBox="<%= viewBox %>"
      src={`<%= source %>`}
    />
  )
}
