import React, { Component } from 'react'
import ReactDOM from 'react-dom'
import * as <%= bundleName %> from '<%= bundlePath %>'

class Demo extends Component {
  renderIcon (icon) {
    const Icon = <%= bundleName %>[icon]
    return (
      <li key={icon}>
        <div className="glyph-img">
          <Icon width="2em" height="2em" />
        </div>
        <div className="glyph-name">
          <code>
             &lt;{icon}/&gt;
          </code>
        </div>
      </li>
    )
  }

  render () {
    return (
      <div>
        <h1><%= variant %> React Components</h1>
        <p className="note">
        A11y note: By default the role is set to <code>presentation</code>.
        However, when the <code>title</code> prop is set, the <code>role</code>
        attribute is set to <code>img</code>. Include the <code>desc</code> prop to further
        describe the image.
        </p>

        <p className="note">
        The <code>fill</code> is set to <code>currentColor</code> and the default <code>width</code> and
        <code>height</code> are set to <code>1em</code> so you can change the size and color of the icons via
        CSS <code>color</code> and <code>font-size</code> rules on the parent element.
        </p>

        <ul className="glyph">
          {Object.keys(<%= bundleName %>).map(this.renderIcon)}
        </ul>
      </div>
    )
  }
}

ReactDOM.render(<Demo />, document.getElementById('demo'))
