<html>
  <head>
    <title>SVG Demo <%= size %></title>
    <style>
      body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: center; background: #f7f7f7 }
      body > h1 { color: #666; margin: 1em 0 }
      .glyph { padding: 0 }
      .glyph > li { display: inline-block; margin: .3em .2em; padding: .5em; background: #fff; border-radius: .5em; position: relative }
      .glyph-img { border: 1px dashed rgba(0,0,0,0.5); margin: 0.5em; }
      .glyph-name { font-size: .8em; color: #666; display: block }
    </style>
  </head>
  <body>
    <h1><%= size %> SVGs</h1>
    <% _.each(variants, function(variant) { %>
      <h2><%= variant.name %></h2>

      <ul class="glyph"><% _.each(variant.glyphs, function(glyph) { %>
        <li>
          <img src="../../<%= glyph.path %>" class="glyph-img" />
          <span class="glyph-name"><%= glyph.name %></span>
        </li><% }); %>
      </ul>
    <% }); %>
  </body>
</html>
